# Ignore arquivos compilados e diretórios de build
/target/
/out/
*.class

# Ignore logs e arquivos temporários
*.log
*.tmp
*.swp

# Ignore arquivos de configuração do sistema operacional
.DS_Store
Thumbs.db


# Eclipse
.project
.classpath
.settings/


# Ignore arquivos gerados pelo Maven
mvnw
mvnw.cmd
/.mvn/

# Ignore arquivos específicos do Hibernate
hibernate.cfg.xml

# Ignore arquivos de propriedades sensíveis
application.properties
