
/target/
/out/
*.class
*.log
*.tmp
*.swp
.DS_Store
Thumbs.db
.idea/
*.iml

# Eclipse
.project
.classpath
.settings/

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/


.vscode/


mvnw
mvnw.cmd
/.mvn/


hibernate.cfg.xml


application.properties
